/* Display Property */
.d1 {
    display: inline;
    border: thin solid blue;
    margin: 20px;
}

.d1span {
    display: block;
    border: thin solid #f00;
}

.d3 {
    display: inline-block;
    border: thin solid rgb(0, 255, 0);
    width: 4rem;
    height: 4rem;
}

#d41 {
    display: none;
}

.d5 {
    width: 50%;
    background-color: gray;
    padding: .5rem;
    margin: auto;
}
/* Box Sizing Propety */
.b1 {
    border: 10px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.b2 {
    border: 10px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
/* Float Property */
#f1img {
    float: left;
}

.f1 {
    margin: 1rem;
}

#f2img {
    float: right;
}

.f2 {
    margin: 1rem;
    text-align: justify;
}

#f2p {
    padding: 1rem;
}

#f3img {
  float: left;
}

.f3 {
  margin: 1rem;
}

#f3p1 {
  padding: 1rem;
}

#f3p2 {
  clear: left;
}

.f4 img {
  float: left;
}

.f4 {
  background-color: lightblue;
  margin: 1rem;
}

#f4p1 {
  padding: 1rem;
}

#f4p2 {
  clear: left;
}

#f5p1 {
  float: left;
  width: 40%;
  padding: 3%;
}

#f5p2 {
  float: right;
  width: 40%;
  padding: 3%;
}

#vl1 {
  border-left: .1rem solid #000;
  height: 15rem;
  margin: 1rem 3rem;
  display: inline-block;
}

#f6p1 {
  float: left;
  width: 40%;
  padding: 3%;
}

#f6p2 {
  float: right;
  width: 40%;
  padding: 3%;
}

#vl2 {
  border-left: .1rem solid #000;
  height: 15rem;
  margin: 1rem 3rem;
  display: inline-block;
}
/* Position Property */
.p1 {
  width: 4rem;
  height: 4rem;
  background-color: red;
}

.p1:nth-child(even) {
  position: relative;
  left: 4rem;
}

section {
  position: relative;
}

#p2span1 {
  position: absolute;
  left: 0;
  top: 0;
}

#p2span2 {
  position: absolute;
  right: 0;
  top: 0;
}

hr {
  position: relative;
  top: 2rem;
}

#p2span3 {
  position: absolute;
  right: 0;
  top: 3rem;
}

#p2span4 {
  position: absolute;
  left: 0;
  top: 3rem;
}

.p3 {
  border: 1px solid black;
  height: 100px;
  position: relative;
}

#p3span1 {
  position: absolute;
  left: 0;
  top: 0;
}

#p3span2 {
  position: absolute;
  right: 0;
  top: 0;
}

#p3span3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#p3span4 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.p4 {
  position: relative;
}

.p4 h1 {
  position: absolute;
}

.p4 div {
  position: absolute;
  top: 2.5rem;
}

.p5 {
  position: relative;
  top: 5rem;
}

#outer1, #outer2 {
  width: 4rem;
  height: 4rem;
  background-color: lightgray;
}

#outer1 {
  position: absolute;
  left: 0;
}

#outer2 {
  position: absolute;
  right: 0;
}

#inner1, #inner2 {
  width: 1rem;
  height: 1rem;
  background-color: darkgray;
  position: relative;
  left: 1.5rem;
  top: 1.5rem;
}

.p6 {
  background-color: lavender;
  position: absolute;
  /* offset-position: top 10rem left 0; */
}

.p7 a {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000;
  padding: 1rem;
  color: white;
  margin: 1rem;
}

.p7 a:hover {
  background-color: #f00;
}
