/* Display Property */
.d1 {
    display: inline;
    border: thin solid blue;
    margin: 20px;
}

span {
    display: block;
    border: thin solid #f00;
}

.d3 {
    display: inline-block;
    border: thin solid rgb(0, 255, 0);
    width: 4rem;
    height: 4rem;
}

#d41 {
    display: none;
}

.d5 {
    width: 50%;
    background-color: gray;
    padding: .5rem;
    margin: auto;
}
/* Box Sizing Propety */
.b1 {
    border: 10px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.b2 {
    border: 10px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
/* Float Property */
#f1img {
    float: left;
}

.f1 {
    margin: 1rem;
}

#f2img {
    float: right;
}

.f2 {
    margin: 1rem;
    text-align: justify;
}

#f2p {
    padding: 1rem;
}

